<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: black;">
    <a class="navbar-brand" href="#">
     <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
  
        Flight Reservation System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li  class="nav-item">
            <div class="blog1">
            <button class="btn btn-success">
                <a>Flight-Login-Portal</a>
            </button>
        </div>
        </li>
        
      </ul>
    </div>
  </nav>