
<body>
  <div class="wrapper">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Book Domestic and International Flights</h3>
          The Flight Reservation System is a booking solution for flight tickets.
          It  consolidates data provided by different airline carriers and hence provides the user details 
          and rates in real-time. Travellers may want to make changes in their bookings.
          The  application allows them to book, cancel, view and update their bookings with ease.
          Other  than this, it eases the management of bookings too.
          All the bookings, flights, schedules and  routes can be viewed,
          added and modified on a single application by the administrator.
          <br />
        <button type="button" class="btn btn-primary signUpBtn">
          <a href="signup">SIGN UP</a>
        </button>
      </div>
    </div>
    
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">About Us</h3>
        <div class="row">
          <div class="devCard col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/user11.jpg" height="200px" /><br /><br />
            <h5>Satyaprakash</h5>
            <hr />
            <span class="info">
             Director & MD Of AirLine.
              <hr />
              <a
                href="https://www.facebook.com/"
                class="fa fa-facebook"
              ></a>
              <a
                href="https://in.linkedin.com/in/"
                class="fa fa-linkedin"
              ></a>
            </span>
          </div>
          <div class="devCard col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/User2.jpg" height="200px"  width="200px" /><br /><br />
            <h5>Sainath Vedpally</h5>
            <hr />
            <span class="info">
             CEO Of AirLine. 
              <hr />
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </span>
          </div>
          <div class="devCard col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/user3.jpg" height="200px" width="200px" /><br /><br />
            <h5>Vijay Chandan</h5>
            <hr />
            <span>
               Manager Of AirLine.
              <hr />
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </span>
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img class="photo" src="assets/u44.jpg" height="200px"  width="200px"/><br /><br />
            <h5>Rajasudhan </h5>
            <hr />
            <span>
              Transportations Head.
              <hr />
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-linkedin"></a>
            </span>
          </div>
        </div>
      </div> 
    </div>
    </div>
  </body>