
<body >
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h3 class="card-title">Check out the Best Offers Available</h3>
        <div class="row">
          <div class="col-md-3" style="padding: 5px;">
            <img src="https://www.easemytrip.com/images/offer-img/emt2020-21apr-sm.png" height="200px" width="200px" />
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkCKpUeZ_8YieOTJIGqvJMl1M2NfT2sRdNV6sSQ_yO3M5ccIlwGhV3l25kL7PHTE8VN5c&usqp=CAU" height="200px" width="250px" />
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img src="https://www.dealbates.com/timthumb.php?src=https://www.dealbates.com/uploads/1585644963591.png&w=600&h=430&zc=2" height="200px" width="250px" />
          </div>
          <div class="col-md-3" style="padding: 5px;">
            <img src="https://b2c-admin-storage.s3-ap-southeast-1.amazonaws.com/CMS/Prod/995x360%20s(23).jpg" height="200px" width="200px" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="Card2 card">
            <div class="card-body">
            <b> <h5 class="card-title">3rd anniversary Offer</h5></b>
              <p class="card-text">On the Indigo/Airindia HDFC Co-Branded credit car or debit card</p>
              <a href="#" class="btn btn-primary">Claim Offer</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="Card3 card">
            <div class="card-body">
             <b><h5 class="card-title">15% Directly of on SBI credit and debit card</h5></b> 
              <p class="card-text"> Airindia/ Idigo Book By Phone Pay /Googlr Pay</p>
              <a href="#" class="btn btn-primary">Claim Offer</a>
            </div>
          </div>
    
          <div class="Card4 card">
            <div class="card-body">
             <b><h5 class="card-title"> Festival Offers </h5></b> 
              <p class="card-text">Book Your Flight With Debit/Credit Card and get 10% Off.</p>
              <a href="#" class="btn btn-primary">Click Claim</a>
            </div>
          </div>
    
          
          <div class="Card5 card">
            <div class=" card-body">
            <b> <h5 class="card-title">Tourist Places</h5></b> 
              <p class="card-text"> Book  tickets of Some Famous Places And get special offer upto 50% off </p>
              <a href="#" class="btn btn-primary">Click Claim</a>
            </div>
          </div>
        </div>
      </div>

    </body>