<body>

    


    <div style="background-color:rgba(244, 232, 232, 0.356);width: 50rem; height: 190px; " class="fcrd1 card-body">

        <div class="fimg1">
        <img style="width:80px; height: 70px;  margin-top: 40px; margin-left: 20px;" src="/assets/indigo.jpg" alt="">
        </div>

    <div class="fname">
       <b><h5>Indgo</h5></b>
       <h6>S23KL4</h6>
    </div>


    <div class="fstime">
    <b><h4>9:45 AM</h4></b>
    <h6> New Delhi</h6>
    </div>

    <div class="fltime">
        <b><h4>2:45 PM</h4></b>
        <h6> Bhopal</h6>
        </div>

<div class="tttime">
        <p> 05H:00M </p>
    </div>
    <div class="arsize">
        <span style='font-size:50px; margin-left: 360px;'>&#8680;</span>
    </div>


    <div class="rupees"> 
     <h3> ₹ 8,686 </h3>
    </div>

    <div class="details">
    <a class="details" style="color: black; text-decoration: none; margin-right: -80px; " href="About">Get Rs 399 off using MMTSUPER </a>
      </div>

    </div>








    
 <div style="background-color: white;  width: 53rem; height: 190px; " class="fcrd card-body">
    <form class="fimg2">
        <img style="width:80px; height: 40px;  margin-top: 50px; margin-left: 20px;" src="/assets/airindia.jpg" alt="">
        </form>

        <form class="fname2">
    <b><h5>AirIndia</h5></b>
    <h6>A1I2R3</h6>
</form>


<form class="FStime1">
    <b><h4>07:45 PM</h4></b>
    <h6> Bhopal </h6>
    </form>

    <form class="fltime2">
        <b><h4>11:50 PM</h4></b>
        <h6> Delhi</h6>
        </form>

    <form class="tttime2">
            <p> 05H:00M </p>
        </form>
        <form class="arsize2">
            <span style='font-size:50px; margin-left: 360px;'>&#8680;</span>
        </form>

        <form class="rupees2"> 
            <h3> ₹ 8,686 </h3>
           </form>

           <form class="details">
            <a class="details2" style="color: black; text-decoration: none; margin-right: -80px; " href="About">Get Rs 399 off using MMTSUPER </a>
              </form>
           

              <form class="btnbook">
                <button class="button2 button4" >Book Flights </button> 
             </form>



    </div>





 <div style="background-color: white;  width: 53rem; height: 190px; " class="fcrd card-body">
    <form class="fimg3">
        <img style="width:80px; height: 50px; width: 80px;  margin-top: 50px; margin-left: 20px;" src="/assets/AA.jpg" alt="">
        </form>

        <form class="fname2">
    <b><h5>American</h5></b>
    <h6>S23AL</h6>
</form>


<form class="FStime1">
    <b><h4>06:45 PM</h4></b>
    <h6> Bhopal </h6>
    </form>

    <form class="fltime2">
        <b><h4>11:50 PM</h4></b>
        <h6> Delhi</h6>
        </form>

    <form class="tttime2">
            <p> 05H:05M </p>
        </form>
        <form class="arsize2">
            <span style='font-size:50px; margin-left: 360px;'>&#8680;</span>
        </form>

        <form class="rupees2"> 
            <h3> ₹ 9,600 </h3>
           </form>

           <form class="details">
            <a class="details2" style="color: black; text-decoration: none; margin-right: -80px; " href="About">Get Rs 399 off using MMTSUPER </a>
              </form>
           

              <form class="btnbook">
                <button class="button2 button4" >Book Now </button> 
             </form>



    </div>
</body>


    