
<body style="background-color:rgb(63, 131, 213);">
  <app-navbar></app-navbar>  



  <form>
	<div class=" crd12 card" style="width: 60rem; height: 130px; margin-top: 30px;">
		  <div class="card-body" style="border: none;"   >  
			  <select name="cars" id="cars">
				<option value="volvo">One Way</option>
				<option value="saab">Round Way</option>
				<option value="mercedes">Multi-Way</option>
			  </select>
  
			  <form action="/action_page.php">
   <input type="text" id="from" class="txt1 align " style="width:20%" placeholder="From">
	<span style='font-size:25px;'>&#8652;</span>
		<input type="text" id="to" class="align"  style="width:20%"placeholder="To" >
		<label for="date" class="align">Travel Date</label>
		<input type="date" id="date" class="align" >
		<label for="travellers" class="align">Travellers</label>
		<input type="number" min="1" id="travellers"   style="width:5%"class="align"> 
  
	<input class="btn btn-primary " type="submit" value="Search-Flights">
	</form>
  </div>
  </div>
  </form>



<br>
<br>


    <div class="bdd1">
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="pic1 picsum-img-wrapper">
			<img  style="height: 300px;" width="960px"  src="../../assets/abcd1.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="pic1 picsum-img-wrapper">
			<img  style="height: 300px;" width="960px"   src="../../assets/abcd2.jpg" alt="Random second slide"  />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class=" pic1  picsum-img-wrapper">
			<img style="height: 300px;" width="960px;"  src="../../assets/abcd3.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>

</div>
<br><br>
<div class="Offers"> 
<b><h1> Offers</h1></b>
</div>
<br>


<div class="row">
	<div class="col-sm-6">
	  <div class="Card2 card">
		<div class="card-body">
		<b> <h5 class="card-title">3rd anniversary Offer</h5></b>
		  <p class="card-text">On the Indigo/Airindia HDFC Co-Branded credit car or debit card</p>
		  <a href="#" class="btn btn-primary">Claim Offer</a>
		</div>
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="Card3 card">
		<div class="card-body">
		 <b><h5 class="card-title">15% Directly of on SBI credit and debit card</h5></b> 
		  <p class="card-text"> Airindia/ Idigo Book By Phone Pay /Googlr Pay</p>
		  <a href="#" class="btn btn-primary">Claim Offer</a>
		</div>
	  </div>

	  <div class="Card4 card">
		<div class="card-body">
		 <b><h5 class="card-title"> Festival Offers </h5></b> 
		  <p class="card-text">Book Your Flight With Debit/Credit Card and get 10% Off.</p>
		  <a href="#" class="btn btn-primary">Click Claim</a>
		</div>
	  </div>

	  
	  <div class="Card5 card">
		<div class=" card-body">
		<b> <h5 class="card-title">Tourist Places</h5></b> 
		  <p class="card-text"> Book  tickets of Some Famous Places And get special offer upto 50% off </p>
		  <a href="#" class="btn btn-primary">Click Claim</a>
		</div>
	  </div>
	</div>
  </div>
<br>
<br>
<div class="get1">
<b><h1> Get Inspired </h1></b></div>



<div class="card-deck"  >
	<div class="Card6 card">
		<div class="Card6B">
	  <img class="imgcrd6 card-img-top" src="/assets/t1.jpg" alt="Card image cap">
	  
	  <div class="card-body">
		
		<h5 class="card-title">Akshardham Temple Delhi</h5>
		<p class="card-text"> Visit India's Famous Temple that are rich in culture and heritage </p>
	  </div>
	</div>
	</div>


	<div class="Card7 card">
		<div class="Card6B">
	  <img class="imgcrd6 card-img-top" src="/assets/t33.jpg" alt="Card image cap">
	  
	  <div class="card-body">
		
		<h5 class="card-title"> Explore Food / Food Tripping</h5>
		<p class="card-text"> Taste different types of food according to your Taste. Food And Travel go in hand  </p>
	  </div>
	</div>
	</div>
	</div>

	<div class="Card8 card">
		<div class="Card6B">
	  <img class="imgcrd6 card-img-top" src="/assets/t44.jpg" alt="Card image cap">
	  
	  <div class="card-body">
		
		<h5 class="card-title"> Different Art and festivals </h5>
		<p class="card-text">India has one of the world's largest collections of songs, music, dance, and theatre. </p>
	  </div>
	</div>



	<div class="Card9 card">
		<div class="Card6B">
	  <img class="imgcrd6 card-img-top" src="/assets/t55.jpg" alt="Card image cap">
	  
	  <div class="card-body">
		
		<h5 class="card-title"> World Oldest Place </h5>
		<p class="card-text"> The many temples, forts, palaces and monuments in the country make up the historical places of World  </p>
	  </div>
	</div></div>
	</div>
<br>

    <div class="imgst">
      <img style="width: 1090px; height: 160px; margin-left: 120px;" src="/assets/st1.jpg" >
	</div> 


<div class="Know1">
	<b><h4> Get To Know Us </h4></b></div>
 

	<a style="color: white; text-decoration: none; margin-left: 120px; " href="About">About us </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Search Flight </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Login </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Registraion </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Services </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Track ticket </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Find Our Flights </a><br>
	<a style="color: white; text-decoration: none; margin-left: 120px;" href="#">Airports </a><br>

	

	<div class="Service">
		<b><h4> Services </h4></b></div>
		<a style="color: white; text-decoration: none; margin-left: 400px;" href="#">Plan B </a><br>
	
		<a style="color: white; text-decoration: none; margin-left: 400px;" href="#">Offers </a><br>
		<a style="color: white; text-decoration: none; margin-left: 400px;" href="#">Claim Badgets </a><br>
		<a style="color: white; text-decoration: none; margin-left: 400px;" href="#">Special Disability Assistance </a><br>
		<a style="color: white; text-decoration: none; margin-left: 400px;" href="#">Gift Voucher </a><br>
		<a style="color: white; text-decoration: none; margin-left: 400px;" href="#">Nature and culture </a><br>

		<div class="Qlinks">
			<b><h4> Quick Links </h4></b></div>

    <a style="color: white; text-decoration: none; margin-left: 680px;" href="about">About us </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="offer">Offers </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Search Flight </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Login </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Registraion </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Services </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Track ticket </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Find Our Flights </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Airports </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Plan B </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Claim Badgets </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Special Disability Assistance </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Gift Voucher </a><br>
	<a style="color: white; text-decoration: none; margin-left: 680px;" href="#">Nature and culture </a><br> -->

		</body>
